@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');


:root {
    --black: #090807;
    --black-soft: #11100e;
    --burnt-orange: #a95727;
    --orange-light: #c8783b;
    --ochre: #b18a50;
    --aged-gold: #9b7945;
    --sick-green: #38432d;
    --text: #d5c5a2;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body,
button,
a{
  cursor: none;
}

body {
  margin: 0;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M3 2L21 12L13 14L10 22Z' fill='none' stroke='%23e8dfcf' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E") 3 2, auto;
}