@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');


:root {
    --black: #090807;
    --black-soft: #11100e;
    --burnt-orange: #a95727;
    --orange-light: #c8783b;
    --ochre: #b18a50;
    --aged-gold: #9b7945;
    --sick-green: #38432d;
    --text: #d5c5a2;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  margin: 0;
}